*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

body{
    background-color:rgb(31, 31, 33);
}

.header{
    background-color:rgb(31, 31, 33);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 5px 10%;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.header .Logo{
    cursor: pointer;
}

.header .Logo img{
    height: 90px;
    width: auto;
    transition: all 0.3px;
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display:  inline-block;
    padding: 0 20px;
}

.header .nav-links a{
    font-size: 700;
    color: white;
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: crimson;
}

.header .btn button{
    font-weight: 700;
    color:black ;
    padding: 9px 25px;
    background-color:white ;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: white;
    color: crimson;
    transform: scale(1.1);
}

#jumbotron{
    text-align: center;
    padding-top: 10vh;
    color: white;
    padding-left: 50px;
}

.col-5{
    padding-top: 10vh;
}
.col-5 .text-justify{
    text-align: center;
    font-size:xx-large;
}

.list-group-item{
    color:  black;
    background-color:rgb(255, 255, 255);
}

.list-group{
    padding-bottom: 10vh;
}

.cajas{
    padding-top: 10vh;
    background-color: rgb(59, 58, 58);
    color: white;
    font-size:medium;
    padding-bottom: 3vh;
}

.mb-3{
    padding-top: 2vh;
    color: white;
}

.col-4{
    padding-top: 5vh;
    color: white;
}